{{!-- daggast/template --}}
<div class="box">
  <h1>Welkom daggast!</h1>
  <p>Natuurlijk heb je onze brief goed doorgelezen, maar ben je die kwijtgeraakt en toch alles vergeten? Dan vind je op deze pagina alle informatie die je nodig hebt ;)</p>
  <h2>Ben je er bij?</h2>
  {{google-form-button id='34RzaUYcgBGX2zS92'}}
  <h2>Planning</h2>
  {{planning-table type='daggast'}}
  <h2>Locaties</h2>
  {{google-maps-location location='schermerstraat'}}
  {{google-maps-location location='stadhuis'}}
  {{google-maps-location location='rijkvandekeizer'}}
</div>
